body {
    background-color: red;
  }
@media only screen and (min-width: 300px) {
  body {
    background-color: green;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
}

@media only screen and (max-width: 300px) {
 #small {
    display: block;
  }
 #medium, #large{
    display: none;
 }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  #medium {
    display: block;
  }
  #small, #large{
    display: none;
  }
}

@media only screen and (min-width:768px){
  #large {
    display: block;
  }
  #small, #medium{
    display: none;
  }
}

#small{
font-size: small;
}

#medium{
font-size: medium;
}

#large{
font-size: large;
}

